Repository bjpl/describe_it, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-lead, @devops-team, @security-team, @tech-writers, @backend-team, @frontend-team, @qa-team

fix: Prevent automatic sign-out after successful authentication
  src/lib/auth/AuthManager.ts
Owners: @your-username, @team-lead

fix: Properly handle sign-out and sign-in sequence
  src/lib/auth/AuthManager.ts
Owners: @your-username, @team-lead

fix: Comprehensive authentication UI synchronization
  src/components/Auth/AuthDebugPanel.tsx
  src/components/Auth/AuthModal.tsx
  src/components/Auth/UserMenu.tsx
  src/components/Debug/AuthDebugPanel.tsx
  src/providers/AuthProvider.tsx
Owners: @your-username, @frontend-team, @team-lead

fix: Remove incorrect authManager import causing build warnings
  src/components/Auth/UserMenu.tsx
Owners: @your-username, @frontend-team

fix: Critical fixes for vision-based description generation with OpenAI GPT-4
  src/lib/api/openai-server.ts
Owners: @your-username, @backend-team

fix: Comprehensive vision API fixes to enable GPT-4 Vision descriptions
  src/app/api/descriptions/generate/route.ts
  src/app/api/test/vision-direct/route.ts
  src/lib/api/keyProvider.ts
  src/lib/api/openai-server-backup.ts
  src/lib/api/openai.ts
Owners: @your-username, @backend-team

fix: Pass user API keys from client to server for vision descriptions
  src/app/api/descriptions/generate/route.ts
  src/hooks/useDescriptions.ts
  src/lib/api/openai-server.ts
Owners: @your-username, @backend-team, @team-lead

debug: Add logging to trace API key passing issue
  src/hooks/useDescriptions.ts
  src/lib/api/openai-server.ts
Owners: @your-username, @team-lead, @backend-team

fix: Add AuthenticatedRequest type to ensure headers are accessible
  src/lib/middleware/auth.ts
Owners: @your-username, @team-lead

fix: Implement Vercel-compatible API key passing via request body
  src/app/api/descriptions/generate/route.ts
  src/app/api/test/verify-key/route.ts
  src/app/test-api-key/page.tsx
  src/hooks/useDescriptions.ts
Owners: @your-username, @backend-team, @team-lead

docs: Update directory guides to reflect reorganized project structure
  DIRECTORY_GUIDE.md
  directory-guide.html
Owners: @your-username, @tech-writers, @team-lead

fix: Resolve duplicate import statement syntax errors
  src/components/EnhancedPhrasesPanel.tsx
  src/components/VocabularyBuilder.tsx
  src/lib/export/rawDataExporter.ts
  src/lib/logging/sessionLogger.ts
  src/lib/services/database.ts
Owners: @your-username, @frontend-team, @team-lead

fix: Resolve final import syntax error in api-middleware.ts
  src/lib/middleware/api-middleware.ts
Owners: @your-username, @team-lead

fix: Resolve Winston and encryption module issues for Vercel deployment
  src/lib/logging/logger.ts
  src/lib/security/secure-middleware.ts
  src/lib/security/session-manager.ts
Owners: @your-username, @team-lead

fix: Complete resolution of Winston and encryption module issues
  src/lib/logging/logger.ts
  src/lib/security/key-rotation.ts
  src/lib/security/secrets-manager.ts
Owners: @your-username, @team-lead

feat: Add comprehensive project setup and configuration system
  .env.local.example
  GETTING_STARTED.md
  package.json
Owners: @your-username, @team-lead, @tech-writers

feat: Add interactive environment setup script
  scripts/setup-env.js
Owners: @your-username, @devops-team

docs: Add quick setup guide for rapid onboarding
  QUICK_SETUP.md
Owners: @your-username, @tech-writers

.github/CODEOWNERS:

# Global owners
* @your-username @team-lead

# CI/CD and Infrastructure
/.github/ @your-username @devops-team
/vercel.json @your-username @devops-team
/docker* @your-username @devops-team
/scripts/ @your-username @devops-team

# Security configurations
sentry*.config.ts @your-username @security-team
/.github/workflows/security.yml @your-username @security-team

# Documentation
/docs/ @your-username @tech-writers
*.md @your-username @tech-writers

# Database and API
/src/app/api/ @your-username @backend-team
/src/lib/api/ @your-username @backend-team
/database/ @your-username @backend-team

# Frontend components
/src/components/ @your-username @frontend-team
/src/styles/ @your-username @frontend-team

# Tests
/tests/ @your-username @qa-team
*.test.ts @your-username @qa-team
*.spec.ts @your-username @qa-team

# Configuration files
package.json @your-username @team-lead
tsconfig.json @your-username @team-lead
next.config.js @your-username @team-lead
tailwind.config.js @your-username @frontend-team
playwright.config.ts @your-username @qa-team
