Repository bjpl/describe_it, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-lead, @devops-team, @security-team, @tech-writers, @backend-team, @frontend-team, @qa-team

.github/CODEOWNERS:

# Global owners
* @your-username @team-lead

# CI/CD and Infrastructure
/.github/ @your-username @devops-team
/vercel.json @your-username @devops-team
/docker* @your-username @devops-team
/scripts/ @your-username @devops-team

# Security configurations
sentry*.config.ts @your-username @security-team
/.github/workflows/security.yml @your-username @security-team

# Documentation
/docs/ @your-username @tech-writers
*.md @your-username @tech-writers

# Database and API
/src/app/api/ @your-username @backend-team
/src/lib/api/ @your-username @backend-team
/database/ @your-username @backend-team

# Frontend components
/src/components/ @your-username @frontend-team
/src/styles/ @your-username @frontend-team

# Tests
/tests/ @your-username @qa-team
*.test.ts @your-username @qa-team
*.spec.ts @your-username @qa-team

# Configuration files
package.json @your-username @team-lead
tsconfig.json @your-username @team-lead
next.config.js @your-username @team-lead
tailwind.config.js @your-username @frontend-team
playwright.config.ts @your-username @qa-team

refactor: Add centralized API key configuration (secure)
  src/lib/api/unsplash.ts
  src/lib/config/api-keys.ts
Owners: @your-username, @backend-team, @team-lead

docs: Add Vercel environment variables setup guide
  .claude/settings.local.json
  vercel-env-variables.md
Owners: @your-username, @team-lead, @tech-writers

fix: Resolve Unsplash API integration issues
  vercel-env-variables.md
Owners: @your-username, @tech-writers

fix: Image search and settings modal scrolling issues
  src/components/ImageSearch.tsx
  src/components/SettingsModal.tsx
Owners: @your-username, @frontend-team

fix: Image search API parameters and Settings modal scrolling
  src/components/SettingsModal.tsx
  src/hooks/useImageSearch.ts
Owners: @your-username, @frontend-team, @team-lead

fix: Rename postcss.config.js to .cjs for ES module compatibility
  postcss.config.cjs
Owners: @your-username, @team-lead

fix: Simplify API key validation to avoid CORS issues
  src/lib/settings/settingsManager.ts
Owners: @your-username, @team-lead

feat: Implement user-configurable API key management system
  src/lib/api/keyProvider.ts
  src/lib/api/openai.ts
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team

fix: Sync API keys from client settings to server via cookies
  src/app/api/images/search/route.ts
  src/app/api/settings/sync/route.ts
  src/components/SettingsModal.tsx
  src/lib/api/keyProvider.ts
Owners: @your-username, @backend-team, @frontend-team

fix: Pass user API keys from client settings to server API routes
  src/app/api/images/search/route.ts
  src/components/SettingsModal.tsx
  src/hooks/useImageSearch.ts
  src/lib/api/keyProvider.ts
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team, @frontend-team, @team-lead

feat: Enhanced API key management UI with professional features
  src/components/ApiKeySetupWizard.tsx
  src/components/ApiKeyStatus.tsx
  src/components/Settings/ApiKeyInput.tsx
  src/components/Settings/PrivacySettings.tsx
Owners: @your-username, @frontend-team

fix: Resolve stuck loading spinner during image search
  src/app/api/images/search/route.ts
  src/components/ImageSearch/ImageSearch.tsx
  src/hooks/useImageSearch.ts
Owners: @your-username, @backend-team, @frontend-team, @team-lead

fix: Resolve error boundary display issues
  src/components/ErrorBoundary/EnhancedErrorBoundary.tsx
Owners: @your-username, @frontend-team

fix: Critical - Resolve missing exports causing runtime errors
  src/components/Shared/LoadingStates/index.ts
Owners: @your-username, @frontend-team

fix: Force redeployment with cache clear
  README.md
Owners: @your-username, @tech-writers

feat: Add comprehensive production error debugging
  PRODUCTION_DEBUG_FIXES.md
  src/app/api/error-report/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Debug/ProductionDebugger.tsx
  src/components/ErrorBoundary/EnhancedErrorBoundary.tsx
  src/hooks/usePerformanceMonitor.ts
Owners: @your-username, @tech-writers, @backend-team, @team-lead, @frontend-team

fix: Syntax error in usePerformanceMonitor - duplicate catch block
  src/hooks/usePerformanceMonitor.ts
Owners: @your-username, @team-lead

fix: Resolve production error boundary issues with SSR-safe patterns
  src/app/page.tsx
  src/components/LazyComponents.tsx
  src/hooks/usePerformanceMonitor.ts
  src/lib/utils/storeUtils.ts
Owners: @your-username, @team-lead, @frontend-team

fix: Add 'use client' directive to PerformanceDashboard component for Next.js 15 compatibility
  src/components/Performance/PerformanceDashboard.tsx
Owners: @your-username, @frontend-team

fix: Update production environment variables and add API key debugging
  .env.production
  src/app/api/images/search/route.ts
Owners: @your-username, @team-lead, @backend-team

fix: Reduce API timeout values for Vercel function limits
  src/app/api/images/search/route.ts
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team

feat: Add debug endpoint to check Unsplash environment variables
  src/app/api/debug/unsplash/route.ts
Owners: @your-username, @backend-team

fix: Ensure API keys are properly transmitted from client to server
  src/components/ImageSearch.tsx
Owners: @your-username, @frontend-team

fix: Enable real Unsplash API usage instead of demo mode
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team

fix: Critical production fixes for image search
  next.config.js
  src/lib/utils/storageManager.ts
Owners: @your-username, @team-lead

fix: Ensure real Unsplash API is used when API key is provided
  src/app/api/images/search/route.ts
  src/components/ImageSearch.tsx
  src/hooks/useImageSearch.ts
Owners: @your-username, @backend-team, @frontend-team, @team-lead

feat: Complete user auth and intelligent storage system
  next.config.js
  src/lib/auth/AuthManager.ts
  src/lib/database/migrations/011_create_user_api_keys_table.sql
  src/lib/storage/HybridStorageManager.ts
  src/lib/storage/LocalStorageManager.ts
Owners: @your-username, @team-lead

feat: Integrate authentication system and fix Unsplash API connectivity
  DEPLOYMENT_TIMESTAMP.txt
  src/app/api/images/search/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Auth/AuthModal.tsx
  src/components/Auth/UserMenu.tsx
  src/hooks/useImageSearch.ts
  src/lib/api/unsplash.ts
  src/providers/AuthProvider.tsx
Owners: @your-username, @team-lead, @backend-team, @frontend-team

fix: Critical build and authentication fixes for production
  next.config.js
  next.config.mjs
  src/app/layout.tsx
  src/app/providers.tsx
  src/lib/auth/AuthManager.ts
Owners: @your-username, @team-lead

fix: Implement singleton pattern for Supabase clients to prevent duplicate instances
  src/lib/supabase/client.ts
Owners: @your-username, @team-lead

fix: Remove invalid nodeVersion from vercel.json
  vercel.json
Owners: @your-username, @devops-team

fix: Remove invalid analytics and speedInsights from vercel.json
  vercel.json
Owners: @your-username, @devops-team

fix: Simplify vercel.json to minimal valid configuration
  vercel.json
Owners: @your-username, @devops-team

fix: Move 'use client' directive to top of admin page
  src/app/admin/page.tsx
Owners: @your-username, @team-lead

fix: Replace complex dashboard pages with simple placeholders to fix build
  src/app/admin/page.tsx
  src/app/dashboard/page.tsx
Owners: @your-username, @team-lead

fix: Force clean build by removing .next cache before building
  vercel.json
Owners: @your-username, @devops-team

fix: Simplify middleware to remove build errors
  src/lib/middleware/auth.ts
  src/lib/middleware/withAuth.ts
  vercel.json
Owners: @your-username, @team-lead, @devops-team

fix: Resolve Next.js 15 build issues and webpack client component detection
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/settings/sync/route.ts
  src/lib/api/optimizedSupabase.ts
Owners: @your-username, @team-lead, @backend-team

fix: Correct UI component import casing for Button component
  src/lib/monitoring/error-boundary.tsx
Owners: @your-username, @team-lead

debug: Add comprehensive auth debugging tools
  src/app/api/debug/auth/route.ts
  src/components/Debug/AuthDebug.tsx
  src/lib/auth/AuthManager.ts
  src/lib/supabase/client-simple.ts
Owners: @your-username, @backend-team, @frontend-team, @team-lead
