Repository bjpl/describe_it, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-lead, @devops-team, @security-team, @tech-writers, @backend-team, @frontend-team, @qa-team

.github/CODEOWNERS:

# Global owners
* @your-username @team-lead

# CI/CD and Infrastructure
/.github/ @your-username @devops-team
/vercel.json @your-username @devops-team
/docker* @your-username @devops-team
/scripts/ @your-username @devops-team

# Security configurations
sentry*.config.ts @your-username @security-team
/.github/workflows/security.yml @your-username @security-team

# Documentation
/docs/ @your-username @tech-writers
*.md @your-username @tech-writers

# Database and API
/src/app/api/ @your-username @backend-team
/src/lib/api/ @your-username @backend-team
/database/ @your-username @backend-team

# Frontend components
/src/components/ @your-username @frontend-team
/src/styles/ @your-username @frontend-team

# Tests
/tests/ @your-username @qa-team
*.test.ts @your-username @qa-team
*.spec.ts @your-username @qa-team

# Configuration files
package.json @your-username @team-lead
tsconfig.json @your-username @team-lead
next.config.js @your-username @team-lead
tailwind.config.js @your-username @frontend-team
playwright.config.ts @your-username @qa-team

fix: Implement server-side proxy to bypass CORS for Supabase auth
  src/app/api/auth/signup/route.ts
  src/lib/auth/AuthManager.ts
Owners: @your-username, @backend-team, @team-lead

fix: Improve auth fallback and add CORS testing tools
  package-lock.json
  package.json
  src/app/api/test-cors/route.ts
  src/lib/auth/AuthManager.ts
Owners: @your-username, @team-lead, @backend-team

fix: Implement simplified auth proxy that actually works
  src/app/api/auth/simple-signup/route.ts
  src/lib/auth/AuthManager.ts
Owners: @your-username, @backend-team, @team-lead

debug: Add test endpoints to diagnose auth issues
  src/app/api/auth/mock-signup/route.ts
  src/app/api/auth/test-env/route.ts
Owners: @your-username, @backend-team

fix: Temporarily use mock auth to bypass Supabase issues
  src/lib/auth/AuthManager.ts
Owners: @your-username, @team-lead

fix: Remove SentryErrorBoundary to fix runtime error
  src/app/providers.tsx
Owners: @your-username, @team-lead

fix: Improve mock auth to auto-login users
  src/app/api/auth/mock-signup/route.ts
  src/lib/auth/AuthManager.ts
Owners: @your-username, @backend-team, @team-lead

fix: Resolve authentication and Sentry import issues
  src/app/api/auth/signin/route.ts
  src/lib/auth/AuthManager.ts
  src/lib/auth/AuthManager.ts.fixed
  src/lib/monitoring/error-boundary.tsx
Owners: @your-username, @backend-team, @team-lead

fix: Resolve CORS issues and multiple Supabase client instances
  src/lib/analytics/tracker.ts
Owners: @your-username, @team-lead

fix: Consolidate Supabase client exports to prevent multiple instances
  src/lib/supabase/index.ts
Owners: @your-username, @team-lead

fix: Add fallback to mock auth when Supabase is unreachable
  src/app/api/auth/signup/route.ts
Owners: @your-username, @backend-team

fix: Resolve 'data is not defined' error in signup endpoint
  src/app/api/auth/signup/route.ts
Owners: @your-username, @backend-team

fix: Comprehensive resilience improvements for auth and analytics systems
  src/app/api/analytics/route.ts
  src/app/api/auth/signin/route.ts
  src/lib/analytics/tracker.ts
  supabase/migrations/20250111_create_analytics_tables.sql
Owners: @your-username, @backend-team, @team-lead

Add temporary admin password reset endpoint
  src/app/api/auth/admin-reset/route.ts
  src/app/api/auth/signup/route.ts
Owners: @your-username, @backend-team

feat: Enhanced rate limit protection with admin bypass
  src/app/api/auth/signin/route.ts
Owners: @your-username, @backend-team

feat: Add storage cleanup tool for quota exceeded errors
  src/app/api/storage/cleanup/route.ts
Owners: @your-username, @backend-team

feat: Improve API key settings UI and functionality
  src/app/api/images/test/route.ts
  src/components/Settings/ApiKeysSection.tsx
  src/components/SettingsModal.tsx
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team, @frontend-team

fix: Resolve signin modal getting stuck after successful authentication
  src/components/Auth/AuthModal.tsx
Owners: @your-username, @frontend-team

fix: Resolve signin stuck at Processing with timeout and fallback
  src/components/Auth/AuthModal.tsx
  src/components/Auth/useDirectAuth.ts
Owners: @your-username, @frontend-team

fix: Critical fixes for API key save functionality and Supabase client issues
  src/app/api/settings/apikeys/route.ts
  src/components/Debug/AuthDebug.tsx
  src/components/Settings/ApiKeysSection.tsx
  src/lib/auth/AuthManager.ts
  src/lib/settings/settingsManager.ts
  src/lib/supabase/client.ts
  test-save.html
Owners: @your-username, @backend-team, @frontend-team, @team-lead

fix: Ensure true singleton Supabase client using window object
  src/lib/supabase/client.ts
Owners: @your-username, @team-lead

fix: Resolve API key save getting stuck with timeout and fallback
  src/components/Auth/UserMenu.tsx
  src/lib/auth/AuthManager.ts
Owners: @your-username, @frontend-team, @team-lead

fix: Ensure Unsplash API keys are properly retrieved and used
  src/hooks/useImageSearch.ts
Owners: @your-username, @team-lead

fix: Ensure real Unsplash images are shown instead of demo
  src/app/api/images/search/route.ts
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team

fix: Optimize timeouts to prevent Vercel 504 errors
  src/app/api/images/search/route.ts
  src/hooks/useImageSearch.ts
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team, @team-lead

fix: Critical performance optimization to prevent 504 timeouts
  src/app/api/images/search-edge/route.ts
  src/hooks/useImageSearch.ts
Owners: @your-username, @backend-team, @team-lead

fix: Critical fix for Multiple GoTrueClient instances error
  src/lib/api/optimizedSupabase.ts
  src/lib/api/supabase.ts
  src/lib/services/database.ts
  src/lib/supabase.ts
Owners: @your-username, @backend-team, @team-lead

fix: Enable real vision-based image descriptions with OpenAI GPT-4
  src/app/api/descriptions/generate/route.ts
  src/app/api/images/proxy/route.ts
  src/lib/api/keyProvider.ts
  src/lib/api/openai.ts
Owners: @your-username, @backend-team

feat: Add detailed logging for vision-based description generation
  src/lib/api/openai.ts
Owners: @your-username, @backend-team

fix: Ensure OpenAI API keys are properly loaded for vision descriptions
  src/components/Auth/UserMenu.tsx
  src/lib/api/keyProvider.ts
  src/lib/api/openai.ts
Owners: @your-username, @frontend-team, @backend-team

fix: Critical fix for vision-based descriptions - OpenAI service initialization
  src/lib/api/keyProvider.ts
  src/lib/api/openai.ts
Owners: @your-username, @backend-team

fix: Accept modern OpenAI API keys with 150+ characters
  src/app/api/test/vision/route.ts
  src/lib/api/keyProvider.ts
  src/lib/api/openai.ts
Owners: @your-username, @backend-team

feat: Major security and performance improvements for vision API
  security-audit-findings.md
  src/app/api/descriptions/generate/route.ts
  src/app/api/images/search/route.ts
  src/app/api/monitoring/dashboard/route.ts
  src/app/api/monitoring/health/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/app/api/monitoring/resource-usage/route.ts
  src/app/api/test/vision/route.ts
  src/components/Auth/UserMenu.tsx
  src/hooks/useImageSearch.ts
  src/lib/api/keyProvider.ts
  src/lib/api/openai-server.ts
  src/lib/api/openai.ts
  src/lib/middleware/api-middleware.ts
  src/lib/middleware/securityMiddleware.ts
  src/lib/monitoring/errorTracking.ts
  src/lib/monitoring/hooks.ts
  src/lib/monitoring/index.ts
  src/lib/monitoring/logger.ts
  src/lib/monitoring/metrics.ts
  src/lib/monitoring/middleware.ts
  src/lib/schemas/api-validation.ts
  src/lib/store/debugStore.ts
Owners: @your-username, @tech-writers, @backend-team, @frontend-team, @team-lead

fix: Resolve monitoring dashboard build error for production deployment
  src/app/api/monitoring/dashboard/route.ts
Owners: @your-username, @backend-team

fix: Temporarily disable monitoring dashboard for production deployment
  src/app/api/monitoring/dashboard/route.ts.disabled
Owners: @your-username, @backend-team

fix: Remove page reload after login to allow React auth state to update properly
  src/components/Auth/AuthModal.tsx
Owners: @your-username, @frontend-team

fix: Enhanced auth state synchronization after sign-in
  src/lib/auth/AuthManager.ts
  src/providers/AuthProvider.tsx
Owners: @your-username, @team-lead

fix: Comprehensive authentication state management improvements
  src/lib/auth/AuthManager.ts
  src/providers/AuthProvider.tsx
Owners: @your-username, @team-lead

fix: Critical authentication issues resolved
  src/app/api/auth/signin/route.ts
  src/lib/auth/AuthManager.ts
  src/lib/supabase/client.ts
Owners: @your-username, @backend-team, @team-lead

fix: Force session persistence to localStorage for authentication
  src/lib/auth/AuthManager.ts
  src/providers/AuthProvider.tsx
Owners: @your-username, @team-lead
