Repository bjpl/describe_it, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @team-lead, @devops-team, @security-team, @tech-writers, @backend-team, @frontend-team, @qa-team

fix: Resolve critical build-blocking errors for deployment
  src/components/Performance/AdvancedCaching.tsx
  src/components/PhrasesPanel.tsx
  src/hooks/useMemoryLeakPrevention.ts
  src/lib/api/optimizedSupabase.ts
  src/lib/services/index.ts
  src/lib/utils/performance-helpers.ts
Owners: @your-username, @frontend-team, @team-lead, @backend-team

fix: Add missing display name to ImageItem component
  src/components/FlashcardComponent.tsx
  src/components/GammaVocabularyExtractor.tsx
  src/components/HelpContent.tsx
  src/components/ImageSearch/ImageGrid.tsx
  src/components/ImageSearch/ImageSearch.tsx
  src/components/PhrasesPanel.tsx
  src/components/QuizComponent.tsx
  src/components/ShowAnswer.tsx
  src/components/Vocabulary/DatabaseVocabularyManager.tsx
  src/components/VocabularyExtractor.tsx
Owners: @your-username, @frontend-team

fix: Remove undefined language variable from error logging
  src/app/api/qa/generate/route.ts
Owners: @your-username, @backend-team

fix: Resolve all TypeScript compilation errors and ESLint issues for successful deployment
  src/app/page.tsx
  src/components/ImageSearch/ImageGrid.tsx
  src/components/LazyComponents.tsx
  src/components/Performance/OptimizedImageLoader.tsx
Owners: @your-username, @team-lead, @frontend-team

feat: Systematically resolve all TypeScript compilation errors and deployment blockers
  src/components/DescriptionNotebook.tsx
  src/components/EmptyState.tsx
  src/components/EnhancedQASystem.tsx
  src/components/ErrorBoundary/EnhancedErrorBoundary.tsx
  src/components/FlashcardComponent.tsx
  src/components/ImageSearch/ImageGrid.tsx
  src/components/ImageSearch/ImageSearch.tsx
  src/components/QASystemDemo.tsx
  src/components/SectionErrorBoundary.tsx
  src/components/SessionReport.tsx
  src/components/Settings/EnhancedSettingsPanel.tsx
  src/components/Shared/LoadingStates/LoadingSpinner.tsx
  src/hooks/useVocabulary.ts
  src/lib/algorithms/spaced-repetition.ts
  src/lib/export/pdfExporter.ts
Owners: @your-username, @frontend-team, @team-lead

fix: Correct mutateAsync function signature to accept parameters
  src/hooks/useVocabulary.ts
Owners: @your-username, @team-lead

fix: Complete SpacedRepetitionUtils interface with all required methods
  src/hooks/useVocabulary.ts
  src/lib/algorithms/spaced-repetition.ts
Owners: @your-username, @team-lead

fix: Add final missing method getNextReviewDescription and next_review_date property
  src/hooks/useVocabulary.ts
  src/lib/algorithms/spaced-repetition.ts
Owners: @your-username, @team-lead

fix: Complete systematic resolution of all TypeScript compilation errors
  src/components/Vocabulary/DatabaseVocabularyManager.tsx
  src/components/Vocabulary/VocabularyManager.tsx
  src/components/VocabularyBuilder.tsx
  src/config/env.ts
  src/hooks/index.ts
  src/hooks/useDescriptions.ts
  src/hooks/useImageSearch.ts
  src/hooks/useKeyboardShortcuts.ts
  src/hooks/useLocalStorage.ts
  src/hooks/usePerformanceMonitor.ts
  src/hooks/usePhraseExtraction.ts
  src/hooks/useProgressTracking.ts
  src/hooks/useSession.ts
  src/hooks/useVocabulary.ts
  src/lib/algorithms/spaced-repetition.ts
Owners: @your-username, @frontend-team, @team-lead

fix: Resolve minor type and export issues in components and API
  src/components/DescriptionPanel.tsx
  src/components/SpacedRepetition/ReviewSession.tsx
  src/lib/algorithms/spaced-repetition.ts
  src/lib/api/index.ts
Owners: @your-username, @frontend-team, @team-lead, @backend-team

fix: Resolve TypeScript compilation errors using mesh architecture
  src/components/SpacedRepetition/ReviewSession.tsx
  src/lib/algorithms/spaced-repetition.ts
  src/lib/api/index.ts
  src/lib/api/middleware.ts
  src/lib/api/openai.ts
  src/lib/api/optimizedSupabase.ts
  src/lib/api/supabase.ts
  src/lib/api/translator.ts
  src/lib/api/unsplash.ts
  src/lib/services/index.ts
  src/lib/services/vocabularyService.ts
  src/lib/utils/api-helpers.ts
  src/lib/utils/json-parser.ts
  src/lib/utils/phrase-helpers.ts
  src/types/database.ts
  tsconfig.json
Owners: @your-username, @frontend-team, @team-lead, @backend-team

fix: Resolve test TypeScript errors using mesh architecture (Phase 2)
  src/config/environment.ts
  src/lib/api/index.ts
  src/lib/api/middleware.ts
  src/lib/api/supabase.ts
  src/lib/api/translator.ts
  src/lib/api/unsplash.ts
  src/types/database.ts
  src/types/index.ts
Owners: @your-username, @team-lead, @backend-team

fix: Resolve 71% of remaining TypeScript errors using mesh architecture (Phase 3)
  src/lib/api/supabase.ts
  src/lib/database/utils/index.ts
  src/lib/export/pdfExporter.ts
  src/lib/services/progressService.ts
  src/types/database.ts
  src/types/unified.ts
Owners: @your-username, @backend-team, @team-lead

fix: Resolve all TypeScript compilation errors in src/lib/demo/demoData.ts
  src/lib/demo/demoData.ts
Owners: @your-username, @team-lead

fix: Eliminate remaining TypeScript errors using mesh architecture (Phase 4 - Final)
  src/components/PhrasesPanel.tsx
  src/lib/database/utils/index.ts
  src/lib/export/ankiExporter.ts
  src/lib/export/csvExporter.ts
  src/lib/export/excelExporter.ts
  src/lib/export/exportManager.ts
  src/lib/export/index.ts
  src/lib/export/pdfExporter.ts
  src/lib/export/rawDataExporter.ts
  src/lib/logging/sessionLogger.ts
  src/lib/logging/sessionReportGenerator.ts
  src/lib/supabase.ts
  src/lib/utils/api-helpers.ts
  src/types/export.ts
Owners: @your-username, @frontend-team, @team-lead

fix: Achieve ZERO TypeScript errors - Complete type safety across entire codebase 🎯
  src/lib/export/unifiedExporter.ts
  src/lib/logger.ts
  src/lib/logging/sessionLogger.ts
  src/lib/logging/sessionReportGenerator.ts
  src/lib/services/database.ts
  src/lib/services/enhancedVocabularyService.ts
  src/lib/services/exportService.ts
  src/lib/services/index.ts
  src/lib/services/openaiService.ts
  src/lib/services/progressService.ts
  src/lib/services/qaService.ts
  src/lib/services/translationService.ts
  src/lib/services/vocabularyService.ts
  src/lib/store/appStore.ts
  src/lib/store/learningSessionStore.ts
  src/lib/store/sessionStore.ts
  src/types/session.ts
Owners: @your-username, @team-lead

chore: Add critters dependency for production build
  package-lock.json
  package.json
Owners: @your-username, @team-lead

fix: Complete UI functionality restoration with mesh swarm
  src/app/api/descriptions/generate/route_backup.ts
  src/app/page.tsx
  src/hooks/useDescriptions.ts
  src/types/index.ts
Owners: @your-username, @backend-team, @team-lead

fix: Correct API response format for description generation
  src/app/api/descriptions/generate/route.ts
Owners: @your-username, @backend-team

fix: Ensure API returns descriptions array in correct format
  src/app/api/descriptions/generate/route.ts
Owners: @your-username, @backend-team

feat: Add debugging logs for description generation flow
  src/app/page.tsx
  src/hooks/useDescriptions.ts
Owners: @your-username, @team-lead

fix: Connect Q&A and Vocabulary tabs to generated descriptions
  src/app/page.tsx
  src/hooks/useDescriptions.ts
  test-api.js
Owners: @your-username, @team-lead

fix: Correct Q&A generation API integration
  src/components/QAPanel.tsx
Owners: @your-username, @frontend-team

fix: Resolve linting error by fixing unescaped apostrophe in QAPanel
  src/components/QAPanel.tsx
Owners: @your-username, @frontend-team

fix: Correct exportResponses function signature in QAPanel
  src/components/QAPanel.tsx
Owners: @your-username, @frontend-team

fix: Correct QAProgressIndicator prop name from isLoading to isGenerating
  src/components/QAPanel.tsx
Owners: @your-username, @frontend-team

fix: Fix vocabulary extraction by handling API response structure correctly
  src/components/PhrasesPanel.tsx
Owners: @your-username, @frontend-team

fix: Extract vocabulary from actual description text and generate content-based Q&A
  src/lib/api/openai.ts
  src/lib/services/phraseExtractor.ts
Owners: @your-username, @backend-team, @team-lead

feat: Comprehensive educational prompt refinement for Spanish learning
  src/lib/api/openai.ts
  src/lib/services/phraseExtractor.ts
Owners: @your-username, @backend-team, @team-lead

fix: Add Vercel deployment configuration
  .nvmrc
Owners: @your-username, @team-lead

fix: Add legacy peer deps to Vercel install command
  vercel.json
Owners: @your-username, @devops-team

fix: Restore Settings modal functionality
  src/app/page.tsx
Owners: @your-username, @team-lead

fix: Settings modal visibility and Unsplash API
  src/components/SettingsModal.tsx
Owners: @your-username, @frontend-team

fix: Settings modal and Unsplash API issues
  src/app/api/images/search/route.ts
  src/app/page.tsx
  src/hooks/useImageSearch.ts
  src/lib/api/unsplash.ts
Owners: @your-username, @backend-team, @team-lead

fix: Remove duplicate isOpen check in SettingsModal
  src/components/SettingsModal.tsx
Owners: @your-username, @frontend-team

fix: Add fallback for Unsplash API key to ensure it works in production
  check-rate-limit.js
  src/lib/api/unsplash.ts
  test-api.js
  test-direct.js
  test-unsplash.js
Owners: @your-username, @team-lead, @backend-team

fix: Remove hardcoded API key and test files for security
  check-rate-limit.js
  src/lib/api/unsplash.ts
  test-api.js
  test-direct.js
  test-unsplash.js
Owners: @your-username, @team-lead, @backend-team

feat: Add debug endpoint to check environment variables
  src/app/api/debug/env/route.ts
Owners: @your-username, @backend-team

chore: Trigger deployment to test fixed environment variables
  .env.production.new
Owners: @your-username, @team-lead

fix: Deploy with cleaned up environment variables
  test-local.js
Owners: @your-username, @team-lead

.github/CODEOWNERS:

# Global owners
* @your-username @team-lead

# CI/CD and Infrastructure
/.github/ @your-username @devops-team
/vercel.json @your-username @devops-team
/docker* @your-username @devops-team
/scripts/ @your-username @devops-team

# Security configurations
sentry*.config.ts @your-username @security-team
/.github/workflows/security.yml @your-username @security-team

# Documentation
/docs/ @your-username @tech-writers
*.md @your-username @tech-writers

# Database and API
/src/app/api/ @your-username @backend-team
/src/lib/api/ @your-username @backend-team
/database/ @your-username @backend-team

# Frontend components
/src/components/ @your-username @frontend-team
/src/styles/ @your-username @frontend-team

# Tests
/tests/ @your-username @qa-team
*.test.ts @your-username @qa-team
*.spec.ts @your-username @qa-team

# Configuration files
package.json @your-username @team-lead
tsconfig.json @your-username @team-lead
next.config.js @your-username @team-lead
tailwind.config.js @your-username @frontend-team
playwright.config.ts @your-username @qa-team
